
:host{
    height: 100%;
}

h1 {
    font-size: xx-large;
    margin-bottom: 2rem;
}

mat-form-field{
    width:250px !important;
 }

#formContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #message{
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ff0000;
    }

    button{
        height: 2.5rem;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
      margin-bottom: 10px;
    }
}

#loginInstead{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

#loginLink {
    margin-left: 5px;
    color: #3f51b5;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
