<div id="EventDetailsContainer">
    <h1>Event Details</h1>
    <div class="row">
        <mat-card class="event_card">
            <mat-card-header>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content></mat-card-content>
            <mat-card-actions>
                <a mat-flat-button color="primary" [routerLink]="['/eventDetails']">More Info</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>