<div id="SearchContainer">
    <h1>Event log</h1>
    <div class="row">
        <mat-form-field id="EventSearchBar">
            <mat-label>Search events</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-card class="event_card" *ngFor="let event of events">
            <mat-card-header id="{{event.event_id}}">
                <mat-card-title>{{event.name}}</mat-card-title>
                <mat-card-subtitle>{{event.affected_brand}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{event.description}}</mat-card-content>
            <mat-card-actions>
                <a mat-flat-button color="primary" [routerLink]="['/eventDetails']">More Info</a>
            </mat-card-actions>
        </mat-card> 
    </div>
</div>